In [30]:
import pandas as pd
import numpy as np

dataFrame = pd.read_csv(r'/Users/anthonycerelli/Downloads/players_stats_by_season_full_details.csv')

In [31]:
#clean dataFrame

#League = NBA and Stage = "Regular Season"
dataFrame = dataFrame[dataFrame['League'] == "NBA"]
dataFrame = dataFrame[dataFrame['Stage'] == "Regular_Season"]

#Remove rows that are irrelevant - Season, birth_date, high_school, height, Stage, League
dataFrame = dataFrame.drop(['Season','birth_date','high_school','height','Stage','League'],axis=1)

In [32]:
dataFrame

,Player,Team,GP,MIN,FGM,FGA,3PM,3PA,FTM,FTA,...,BLK,PTS,birth_year,birth_month,height_cm,weight,weight_kg,nationality,PPG,Year
0,James Harden,HOU,68,2482.6,672,1514,299,843,692,800,...,60,2335,1989.0,Aug,196.0,220.0,100.0,United States,34.338235,2020.0
1,Damian Lillard,POR,66,2473.7,624,1349,270,674,460,518,...,22,1978,1990.0,Jul,191.0,195.0,88.0,United States,29.969697,2020.0
2,Devin Booker,PHX,70,2511.8,627,1283,141,398,468,509,...,18,1863,1996.0,Oct,198.0,206.0,93.0,United States,26.614286,2020.0
3,Giannis Antetokounmpo,MIL,63,1916.9,685,1238,89,293,398,629,...,66,1857,1994.0,Dec,211.0,242.0,110.0,Greece / Nigeria,29.476190,2020.0
4,Trae Young,ATL,60,2120.1,546,1249,205,568,481,559,...,8,1778,1998.0,Sep,188.0,180.0,82.0,United States,29.633333,2020.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53658,Quincy Lewis,UTA,74,896.0,111,298,23,63,38,52,...,15,283,1977.0,Jun,201.0,215.0,98.0,United States,3.824324,2000.0
53659,Jermaine O'Neal,POR,70,869.0,108,222,0,1,57,98,...,55,273,1978.0,Oct,211.0,235.0,107.0,United States,3.900000,2000.0
53660,Bruce Bowen,MIA,69,878.0,72,194,27,58,25,43,...,15,196,1971.0,Jun,201.0,200.0,91.0,United States,2.840580,2000.0
53661,Michael Ruffin,CHI,71,975.0,58,138,0,0,43,88,...,26,159,1977.0,Jan,206.0,245.0,111.0,United States,2.239437,2000.0
53662,Travis Knight,LAL,63,410.0,46,118,0,0,17,28,...,23,109,1974.0,Sep,213.0,235.0,107.0,United States,1.730159,2000.0

In [29]:
#calculate which year the player is in
def YearCalculator(playerName):
    
    dataFrame['Year'].apply(np.min, axis = 1)

,Player,Team,GP,MIN,FGM,FGA,3PM,3PA,FTM,FTA,...,BLK,PTS,birth_year,birth_month,height_cm,weight,weight_kg,nationality,PPG,Year
0,James Harden,HOU,68,2482.6,672,1514,299,843,692,800,...,60,2335,1989.0,Aug,196.0,220.0,100.0,United States,34.338235,2020.0
1,Damian Lillard,POR,66,2473.7,624,1349,270,674,460,518,...,22,1978,1990.0,Jul,191.0,195.0,88.0,United States,29.969697,2020.0
2,Devin Booker,PHX,70,2511.8,627,1283,141,398,468,509,...,18,1863,1996.0,Oct,198.0,206.0,93.0,United States,26.614286,2020.0
3,Giannis Antetokounmpo,MIL,63,1916.9,685,1238,89,293,398,629,...,66,1857,1994.0,Dec,211.0,242.0,110.0,Greece / Nigeria,29.476190,2020.0
4,Trae Young,ATL,60,2120.1,546,1249,205,568,481,559,...,8,1778,1998.0,Sep,188.0,180.0,82.0,United States,29.633333,2020.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53658,Quincy Lewis,UTA,74,896.0,111,298,23,63,38,52,...,15,283,1977.0,Jun,201.0,215.0,98.0,United States,3.824324,2000.0
53659,Jermaine O'Neal,POR,70,869.0,108,222,0,1,57,98,...,55,273,1978.0,Oct,211.0,235.0,107.0,United States,3.900000,2000.0
53660,Bruce Bowen,MIA,69,878.0,72,194,27,58,25,43,...,15,196,1971.0,Jun,201.0,200.0,91.0,United States,2.840580,2000.0
53661,Michael Ruffin,CHI,71,975.0,58,138,0,0,43,88,...,26,159,1977.0,Jan,206.0,245.0,111.0,United States,2.239437,2000.0
53662,Travis Knight,LAL,63,410.0,46,118,0,0,17,28,...,23,109,1974.0,Sep,213.0,235.0,107.0,United States,1.730159,2000.0